@use '../../styles/buttons.scss';
@use '../../styles/color-vars';

// https://colorhunt.co/palette/3db2ffffeddaffb830ff2442
// blue:   #3DB2FF
// beige:  #FFEDDA
// orange: #FFB830
// red:    #FF2442

$primary: #3db2ff;
$textColor: #611652;
$heroFont: metropolis;
$bodyFont: inter;
$selectionColor: #ce9326;
$selectionBg: #ffedda;

.app {
  // font-family: orbitron;
  font-family: $bodyFont, system-ui, -apple-system, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    sans-serif;
  color: $textColor;

  --primary: #{$primary};
  --text-color: #{$textColor};
  --hero-font: #{$heroFont}, system-ui, -apple-system, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    sans-serif;

  // Highlighted text colors
  --selection-bg: #{$selectionBg};
  --selection-color: #{$selectionColor};
}

.btn {
  @include buttons.btn-color($primary);
}

.btnOutline {
  @include buttons.btn-color-outline($primary);
}

// TODO: Highlight colors, link colors, background colors
