@use '../../styles/buttons.scss';
@use '../../styles/color-vars';

$primary: rgb(211, 48, 61);
$textColor: #1f1f1f;
$heroFont: metropolis;
$bodyFont: inter;
$selectionColor: #ffffff;
$selectionBg: rgb(138, 32, 32);

.app {
  // font-family: orbitron;
  font-family: $bodyFont, system-ui, -apple-system, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    sans-serif;
  color: $textColor;

  --primary: #{$primary};
  --text-color: #{$textColor};
  --hero-font: #{$heroFont}, system-ui, -apple-system, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    sans-serif;

  // Highlighted text colors
  --selection-bg: #{$selectionBg};
  --selection-color: #{$selectionColor};
}

.btn {
  @include buttons.btn-color($primary);
}

.btnOutline {
  @include buttons.btn-color-outline($primary);
}

// TODO: Highlight colors, link colors, background colors
