@use 'global-vars';

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', sans-serif;
  color: var(--dark);
  line-height: 1.5;
}

.contain,
.contain-lg {
  margin-left: auto;
  margin-right: auto;
  max-width: min(var(--screen-lg), calc(100vw - var(--gutter-size) * 2));
}

.contain-sm {
  margin-left: auto;
  margin-right: auto;
  max-width: min(var(--screen-sm), calc(100vw - var(--gutter-size) * 2));
}

.contain-gutter {
  margin-right: auto;
  margin-left: auto;
  max-width: calc(100vw - var(--gutter-size));
}
